@model IEnumerable<Lab1MLS.Models.Jugador>

@{
    ViewBag.Title = "GenerarArchivo";
}

<h2>Generar Archivo</h2>

<a id="lnkDescargarArchivoTexto" href="https://www.blogger.com/GenerarArchivo/DescargarExportableTXT">Descargar Archivo de Texto</a>

